Image_Ws_Start RCDATA "resIco\\start.png"
Image_Ws_Stop RCDATA "resIco\\stop.png"
ws_ssl_server_crt RCDATA "res\\sample.crt"
ws_ssl_server_key RCDATA "res\\sample.key"
ws_ssl_server_root RCDATA "res\\sampleRoot.pem"
PngImage_1 RCDATA "resIco\\delete.png"
Image_send1 RCDATA "resIco\\send1.png"
Image_send2 RCDATA "resIco\\send2.png"
Image_send3 RCDATA "resIco\\send3.png"
libeay32 RCDATA "res\\libeay32.dll"
libwebp RCDATA "res\\libwebp.dll"
ssleay32 RCDATA "res\\ssleay32.dll"
